<aside>
  <div id="app-sidebar" class="sidebar">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu">
      <h5 class="centered">Admin</h5>
      <li class="sidebar-tab">
        <a href="javascript:;">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="sidebar-tab">
        <a href="javascript:;">
          <i class="fa fa-desktop"></i>
          <span>Option 1</span>
        </a>
      </li>
      <li class="sidebar-tab">
        <a href="javascript:;">
          <i class="fa fa-desktop"></i>
          <span>Option 2</span>
        </a>
      </li>
      <li class="sidebar-tab">
        <a href="javascript:;">
          <i class="fa fa-desktop"></i>
          <span>Option 3</span>
        </a>
      </li>
      <li class="sidebar-tab">
        <a href="javascript:;">
          <i class="fa fa-desktop"></i>
          <span>Option 4</span>
        </a>
      </li>
    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>